html {
    background-color: #fc6a3d;
    background-image: url('http://i.imgur.com/ea9PB3H.png');
    background-position: top;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.widget {
    color: white;
    border: black;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    background-color: #4a4a4a;
    padding: 15px 15px 15px 15px;
    display: inline-block;
}
.memory-stat {
    width: fit-content;
    min-width: 150px;
}
.memory-bars {
    display: inline-block;
    clear: both;
    height: 40px;
}
.memory-bars > p {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 15px;
    display: inline-block;
    float: left;
}
.before-bar {
    width: 100px;
}
.before-bar, .right {
    width: fit-content;
}
.bar {
    width: 200px;
    background-color: #2a2b2f;
    height: 9px;
    overflow: hidden;
    padding: 3px;
    margin-top: 18px;
    margin-bottom: 40px;
    margin-left: 4px;
    display: inline-block;
}
.bar-fill {
    background-image: -webkit-linear-gradient(bottom, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
    /* background-image: linear-gradient(to bottom, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%); */
    background-image: linear-gradient(to bottom, #00c5ff 0%, #00c5ff 47%, #00c5ff 50%, #0383a9 100%);
    height: inherit;
    display: list-item;
    border-radius: 1px;
}
.top-stat {
    width: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    bottom: 15px;
    min-width: 610px;
}
pre {
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cpu-stat {
    width: fit-content;
    min-width: 150px;
}
.inline {
    display: inline-block;
}
.mincpu {
    margin-right: 6px;
}
.storage {
    float: right;
}
