<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>
<div class="widget memory-stat">
<%= mem_total = mem_info["MemTotal"].to_f 
(mem_total / 1024) > 1024 ? ((mem_total / 1024) / 1024).round(2).to_s + " GB" : (mem_total / 1024).round(2).to_s + " MB" %> Total<br>
<%= mem_free = mem_info["MemFree"].to_f 
(mem_free / 1024) > 1024 ? ((mem_free / 1024) / 1024).round(2).to_s + " GB" : (mem_free / 1024).round(2).to_s + " MB" %> Free<br>
<%= mem_avail = mem_info["MemAvailable"].to_f 
(mem_avail / 1024) > 1024 ? ((mem_avail / 1024) / 1024).round(2).to_s + " GB" : (mem_avail / 1024).round(2).to_s + " MB" %> Available<br>
</div>
<div class="widget memory-bars">
<p>Free Memory: </p>
<div class="widget bar">
<div class="bar-fill" style="width: <%= (mem_info["MemFree"].to_f / mem_info["MemTotal"].to_f) * 100 %>%;"></div>
</div>
</div>
</html>