<!DOCTYPE html>
<html>
<head>
 <link href='/css/dashboard.css' rel='stylesheet' type='text/css'>
 <link href='<%= Cfg.["favicon"]?.nil? || "" ? "images/favicon.png" : "#{Cfg["favicon"]}" %>' rel='icon' type='image/png'>
 <link href='/css/custom.css' rel='stylesheet' type='text/css'>
 <script src="/js/update_info.js"></script>
 <title><%= Cfg["title"]?.nil? || "" ? "Web-Dash" : Cfg["title"] %></title>
</head>
<body>
<div id="memory" class="widget memory-stat">
  <% mem_info = get_mem_info %>
<p><%= mem_total = mem_info["MemTotal"].to_f 
(mem_total / 1024) > 1024 ? ((mem_total / 1024) / 1024).round(2).to_s + " GB" : (mem_total / 1024).round(2).to_s + " MB" %> Total</p>
<p><%= mem_free = mem_info["MemFree"].to_f 
(mem_free / 1024) > 1024 ? ((mem_free / 1024) / 1024).round(2).to_s + " GB" : (mem_free / 1024).round(2).to_s + " MB" %> Free</p>
<p><%= mem_avail = mem_info["MemAvailable"].to_f 
(mem_avail / 1024) > 1024 ? ((mem_avail / 1024) / 1024).round(2).to_s + " GB" : (mem_avail / 1024).round(2).to_s + " MB" %> Available</p>
</div>

<div class="widget storage">
 <% devices = get_storage
    devices.each do |x| %>
 <p> <%= x = x.split(/\s{1,}/)
         used_size = kb_to_size(x[2].to_f)
         max_size = kb_to_size(x[2].to_f + x[3].to_f)
      "#{x[5]} <strong>@</strong> #{x[4]} (#{used_size[0]} #{used_size[1]})" %> used of <%= "#{max_size[0]} #{max_size[1]}" %></p>
 <% end %>
</div>

  <% devices.each do |x| %>
<div class="memory-bars storage">
  <% x = x.split(/\s{1,}/) %>
<p class="before-bar right"><%= x[5] %></p>
<div class="bar">
<div class="bar-fill" style="width: <%= x[4] %>;"></div>
</div>
</div>
<% end %>

<br>
<div class="memory-bars">
<p class="before-bar">Free Memory: </p>
<div class="bar">
<div class="bar-fill" style="width: <%= (mem_info["MemFree"].to_f / mem_info["MemTotal"].to_f) * 100 %>%;"></div>
</div>
</div>
<br>
<div id="cpu" class="widget cpu-stat">
  <p>Max CPU: <% Cpu.new
                 Cpu.max %></p>
  <p class="mincpu inline">Min </p><p class="inline">CPU:
    <%= Cpu.new
        Cpu.min %></p>
<p>CPU Usage: <%= Cpu.usage %>% </p>
</div>
<br>
<div class="memory-bars">
<p class="before-bar">CPU Usage: </p>
<div class="bar">
<div class="bar-fill" style="width: <%= Cpu.usage %>%;"></div>
</div>
</div>
<br><br>
<div id="top" class="widget top-stat">
<pre>
<%= top_info = `top -bn1`.split("\n")
small_top = top_info[0...20].join("\n") %>
</pre>
</div>
<div class="program-area">
    <% order = %w(transmission sonarr radarr plex) %>
       <% order.each do |x| %>
  <div class="program widget">
<script language="JavaScript">
document.write('<a href="' + window.location.protocol + '//' + window.location.hostname + '<%= Cfg[x] %>' + '" ><img src="images/<%= x %>.png"></a> ' );
</script>
  </div>
<% end %>
  </div>
</body>
</html>
